
<%= form_tag drop_rating_url do %>

<div style="margin-top: 3em;text-align:center;">
	Latitude: <input type="text" name="lat"><br>
	Longtidue: <input type="text" name="long"><br>
	<%= submit_tag "drop pin" %>
</div>



<% end %>