
<div class="city-form">
	<%= form_tag explore_url, method: "post" do %>
	  <%= text_field_tag :city, '', :placeholder => "Enter a city...", :class => "city" %><%= submit_tag ">>" %>
	<% end %>
</div>